.moanoghar{
    color:black;
    background:aqua;
    width:500px;
    padding:10px;
    border:10px solid black;

<<<<<<< HEAD
=======
}
.ampi{
    color:black;
    background-color: aqua;
    width:500px;
    padding:10px;
    border:10px solid black;
    margin:10px;
}
.jibon{
    color:black;
    background:aqua;
    border:10px solid black;
    display:inline;
    padding:10px;
    margin:10px;
}
.priti{
    color:black;
    background-color: aqua;
    border:10px solid black;;
    padding:10px;
    display:inline-block;
    width:500px;
    height:150px;
    margin:10px;
>>>>>>> aspin
}